<template>
  <div>
        <h4>Adopt a new pet</h4>
        <form class="AddPet" @submit="addPet">
          <div><label for="name">Pet name:</label></div>
          <div><input type="text" id="name" name="name"></div>
          <div><button type="submit" variant="primary">Adopt</button></div>
        </form>
  </div>
</template>

<script>
export default {
  name: "AddPet",
  data() {
    return {
      name: "",
    };
  },
  methods: {
    addPet(e) {
      e.preventDefault();
      const newPet = {
        name: this.name,
      };
      //Send up to parent
      this.$emit("add-pet", newPet);
      this.name = "";
    },
  },
};
</script>

<style scoped>
h4{
  color:  rgb(33, 94, 25);
}
form {
  display: inline-block;
  /* border-style: ridge;
  border-color: rgb(33, 94, 25);
  border-radius: 5px;
  border-width: 1px; */
  text-align: center;
}
input[type="text"] { 
  margin-top: 1px; 
  margin-bottom: 5px;
  background-color: wheat;
}
input[type="submit"] {
  margin-top: 2px; 
  margin-bottom: 50px;
}
button{
  background-color: rgb(33, 94, 25);
  color:wheat;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
