 <template>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..\assets\love.jpg" alt="PetBaby"/>
  <div class="card-body">
    <h5 class="card-title">{{pet.mood}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Age: {{pet.age}}</h6>
    <p class="display-1 text--primary" id="pet_name">{{pet.name}}</p>
  </div>
</div>
</template>
<script>
export default {
  name: "PetItem",
  props: ["pet"],
  data() {
    return {
      name: "",
    };
  },
};
</script>


