<template>
  <div class="container">
    <header class="jumbotron">
      <h3>{{content}}</h3>
    </header>
    <div class="homepic"> <img src="..\assets\cute.jpg" alt="PetBabies"/> </div>
  </div>
</template>

<script>
import UserService from '../services/userService';

export default {
  name: 'Home',
  data() {
    return {
      content: ''
    };
  },
  created() {
    UserService.getPublicContent().then(
      response => {
        this.content = response.data;
        console.log("hello world")
      },
      error => {
        this.content =
          (error.response && error.response.data && error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>
<style>
div.homepic{
  display: flex;
  justify-content: center;
  width: 100%;
}
</style>