<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        Welcome, please adopt to start! <strong>{{currentUser.username}}</strong>
      </h3>
    </header>
    <div class="addoption">
       <AddPet v-on:add-pet="addPet" />
     <img src="..\assets\box.gif" alt="PetBabyBox"/>
    </div>
  </div>
</template>

<script>
import AddPet from "../components/AddPet";
import authHeader from "../services/authHeader";
import axios from "axios";

export default {
   name: "PetInfo",
  components: {
    AddPet
  },
  methods: {
    addPet(newPet) {
      const { name } = newPet;
      console.log(authHeader());
      axios
        .post("http://localhost:8085/adopt", {
          name,
        },
        {
          headers: authHeader()
        })
        .then((res) => (this.pets = [...this.pets, res.data]))
        .catch((err) => console.log(err));
    },
  },
  data() {
    return {
      pets: [],
    };
  },
  computed: {
    currentUser() {
      console.log(this.$store.state.auth.user);
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: auto;
}
</style>