<template>
  <div class="container">
    <header class="jumbotron">
      <h3>Look after your pet so it stays healthy and happy!</h3>
    </header>
     <div class="pets" v-bind:key="pet.id" v-for="pet in pets"><PetItem v-bind:pet="pet"/></div>
  </div>
</template>

<script>
// import UserService from '../services/userService';
import authHeader from "../services/authHeader";
import PetItem from "../components/PetItem";
import axios from "axios";
export default {
  name: 'Play',
  components: {
    PetItem,
  },
   data() {
    return {
      pets: [],
    };
  },
  created() {
    axios
      .get("http://localhost:8085/pets", {
        headers: authHeader(),
      })
      .then((response) => (this.pets = response.data))
      .catch((err) => console.log(err));
  },
  // mounted() {
  //   UserService.getUserView().then(
  //     response => {
  //       this.content = response.data;
  //     },
  //     error => {
  //       this.content =
  //         (error.response && error.response.data && error.response.data.message) ||
  //         error.message ||
  //         error.toString();
  //     }
  //   );
  // }
};
</script>

<style>
h3{
  color:  rgb(33, 94, 25);
}
div.pets{
  display: inline-flex;
  text-align: center;
}
</style>